body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    color: #2d4b3a;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-bar {
    background-color: #2d4b3a;
    padding: 10px;
}

.nav-bar button {
    background-color: #6c8f75;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.nav-bar button:hover {
    background-color: #56705c;
}

.pagina {
    padding: 20px;
}

.tabela {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.coluna {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
}

.titulo {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.neurologico { background-color: #6c8f75; color: white; }
.cardiovascular { background-color: #4f6b50; color: white; }
.respiratorio { background-color: #2d4b3a; color: white; }
.nebulizadores { background-color: #527a60; color: white; }
.vomitos { background-color: #8b9f87; color: white; }
.intervencoes { background-color: #3e5c47; color: white; }

.pontos {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #dfe7e4;
    border-radius: 5px;
    background-color: #f9faf9;
}

.descricao {
    font-size: 14px;
    color: #4f6b50;
    padding: 10px;
    background-color: #eef2f0;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-secondary{
    background-color: #6c8f75;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.btn-secondary button:hover {
    background-color: #56705c;
}